.userMenu__title {
  margin-right: 15px;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  color: #005e7f;
  font-weight: normal;
  text-align: center;
}
.userMenu .button {
  background: transparent;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 500;
  font-family: 'Permanent Marker', cursive;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 18px;
  border: solid 1px #434848;
  color: #61b6cd;
  position: relative;
  z-index: 1;
  transform-style: preserve-3d;
  transition: background 350ms ease-in-out, color 150ms ease-in-out;
}
.button:hover {
  background: linear-gradient(#61b6cd 35%, #005e7f 55%);
  background-position: 0 var(--modal-button-gradient-pos);
  transform: translateZ(-1px);
  overflow: hidden;
  color: #fff;
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .userMenu .button {
    font-size: 12px;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .userMenu__title {
    margin-right: 8px;
    font-size: 15px;
  }
}
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
  .userMenu .button {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .userMenu__title {
    margin-right: 8px;
    font-size: 18px;
  }
}
